body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid__Conatiner {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.grid__buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.grid__button--prev {
  margin: auto 100px;
}

.grid__button--next {
  margin: auto 100px;
}
